<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="debugger" xsi:type="Debugger" layout="${longdate} | ${level:uppercase=true} | ${message}"/>
		<target xsi:type="File" name="fileLogger" fileName="${basedir}/logs/${shortdate}.log"
        layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="debugger" />
		<logger name="*" minlevel="Info" writeTo="fileLogger" />
	</rules>
</nlog>